.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url('https://lh3.googleusercontent.com/YlACQM3UmztQVHeHipx6u9f0MfpbKGz-J0VHdBRfDXEwNhUcsmTP-4yjZi6AC7IZF-g9Ow4dyy_XOj4Q-b-wXbe91Oz-lbHxt7feU5fjG-E0G0ppfDFzda9466j9s4qnUNlzDnHtGy3HpNdC5t6f_C35AUFYWoWRkm3Z5oTaBuMgsdu8qG9ihPJ2ImwnXF2c6QKqFpbyXtgDJwv5ENhlnx49cw1eKB8Om-duRl2UxljlloPiX-QVwJs28lwtfyo2w_79LR0ZxMrFdjYlAkVSmePv1WIFzk9OPqC7SlUM90x75RW8WjSwTZt0XdLDaJOQpW-cP3rXiUDQOn4zvOQxxytCCpIsaOQAKCimM9ri5RiIOrOlC6ashBHkRcFBWjxzz90egvJU28u3dJKzYFxMfYrW03SXbQpexNk034FPwHyXxTKAkQeQV6NW1pU701PM4VVYC1E0YoeI38H1maGzWQ2HLUFsT9mkfGpqiT_X6iZT3GMLYzZjOq3tK_VrH7ccqlIESDvgk02qWKNTO977okPpMc925Kz2c6ZnCA3Y3WrHeUKKYkNY7NM5ViZYQoURlqXZmgv5l5NNGQc3CArgDtNLPNBy8J7iR05mXD1rhY4bjQHo-Jy4kYLJCgtBZP27EHgkRjXLXL-qFHi0tuE0MrtZHHwGJTa2cysh9W6j_-5nEa7T6Pp7JTvipj2rk4M=w679-h905-no?authuser=1');
        background-size: cover;
        background-position: top;
        position: relative;

        -webkit-mask-clip: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

        @include respond(phone) {
            -webkit-mask-clip: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        }
        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        }

        &__logo {
            height: 3.5rem;
        }

        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
}