.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
        }
    }
  
    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url('https://lh3.googleusercontent.com/FU00s2LQDwRey0LosMLWThdIrpZyF-Df4VjWqqh-a5LRHpAo1lKpNcBGMockSA8TO-FaemH6Q4OkcG2WV-VkNq9HHS1n9O8En4g-zNie85IPu1294T4I2EhQ9ipi3P1JCm13AE4DdzWFPMXEN8bFAZLm_v-qhgx4fCT8HGdkkXT5jW0UgZ5S3-PrAIUsKN2UQiqk6CfOz6G3gDlLMjrrvJylCw-d_lK_al9ok_lzq2wwtNfA63x2BzmDVBK8Iyw27aYSug1E4BVctVeAuS1rVO-GmxWcChIdPi7jzfk0msuy1dUsKf-Rh_fS1VD2UhUOKk7JJBh5ZoiGHD1XOGWbPhUJ_6asBbsprQugx0_km7UsvLNzaVSYHFcR0-hkQcQ4otr_Dgqa9Ao09PmFH-NeFjswADwrL7Av5T7lq4V4oRftw0QT1SpU2IYqxvhUeXhovzSZipZh4u9r6aDSbdideZSAtaHAo7kj4cuPtX7AOAJVkpstbBUduZ33Z1XFm-f4YZaD510UNeTOFT5Q2lBlrRmk1TIU3NijHf_RB9ZuWjEyLBKDLaWEg7UamwtQZjcLL7MO_WrsOiGR0RW5hsFIXZ2fucu34TcEfzoNl9hXyuqQl5hTSJZg-NwOIiYQa2t4ljpIeRDV2FweskT2ebj_7HCLVUGtv0cIIYceKSRiGHZODAQxbiW5wL15YLftbo0=w430-h323-no?authuser=1');
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            url('https://lh3.googleusercontent.com/Xvf6ilsn0BSyhvMnn2bg1Go3lhFmeZtFqmaz-I5S6NtWM0UAgRegrr5_sI9oOAmtPuJV3b5AXkdYUq_kF42rateBDnWliife7hPVxGW7Dqzwb9ENkSfRA_5BORPW0EyYQasm7fmxwZGUq5TeyeE7U9KplynqYxNtpS4THmG4vyQyqpB6DuM7w0ZpmpOL6UcehrOpewAQkjk875iTo85BZlKgRUo3OyqXj5vtl8tAVHJQMjkA2nDc_J232IZLEsOaJ4HaCJdziPf7UCpjX8nMtzOH9_Ytrjvd8_MLeVnNh_E_7lVxtVFDBzcZnpxA8t7hJFVVpDN85cfEfnF3rCgzA9CFfdx27gAV7bqGlFOv4NNejqbjRHTnEJMMMvCs_fokt5f3tydkoXmuyEeRYCmwqYm-T-j3VDauWYaThvb2n4AImhYfk_1XdKaj_N4Cw2N51Gm-N03SJWO6hX-OACD69loct2DP7glzyyRibgbF5vOn-7sl9-8oRDlbTV8jbEXZd8pwOxb6UJsKi9cFuf0jDLR2lRUJaNJkoEHDCAegmhxfzup71uEyTn1bIBLMin2bArvZ_V0Qg0sLK3TLvnwW94Ime8qMy1mZP6GIx0XBBghPZnOQ_UbDq66r43pRDhe-0iW-Q3lUhKylsf8qVYJ8J3YF6bqh3wdEhtu3qeeO45COy6LCgF57YGTZIqOcOMo=w679-h905-no?authuser=1');
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
            url('https://lh3.googleusercontent.com/NGUsfv5guWiuCJrItRG-0aKP9L9b-FvlEM2wqNwzzSheKsGFwQcj3QSzbF_vs7EgLGh_UBlgmZ4sS8xucONHQ81ZeOdhnrrDVMYZjQj4-vs9EtpRHWaEQvPE2plVu6Af4iAvIu1nf0LDgx4THtKi5l0Y9CNADamy0Y5jDTAJES8YEni3K85mb8cFgK_NWL3MBB8l02c99HkuhhqK0BGuctTbEV8bnZfNrqPh3_jtdqJUY7K8GwlHmiwS5ABUDq6p5tDfO7nFXoRBQ5ih-03V9-1yXzR8TjPbDFSORxrBkIrKhEd7Vv7QpVPTePf1UEoAoFbIOq6S2bcGo_icvhSu-zbHoTzJcd1e4NF4uKKODnY0TTjvRwFmNU0KCW2prf_TKVq_0ilgoH6z5DsRlnlzOrVhPM1yR2xpjRezM0jvryG0trnI6KVu3a-qo24jFJsh1wvlY1msLu7dsH0UV9rCIdOmiE8ON_wowpmmx3dTuXLJpF_vORkW_0itpehxiq2i5H2JdqLC19miXMIVXJJ5e-GNDxA5D8tP_iHy4DolRFFjNYrJb7ajxm3Xa2u1ryfU011xLm45q6ahAPrnQJzDgvZyzhAahCUHHq3v5eF9vvQ2FO80FXvEFl5ezV_6_K7MvzaUmXs0TlyHHe6yWh9wBCMOvJX_jlbZnI9gpQEBNKAY4LUpgn-mf43y2bI1eR8=w1207-h905-no?authuser=1');
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}